@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

body, html {
  background-color: #bad6aa;
  color: white;
  font-family: 'Blinker', sans-serif;
}

#login {
  background-color: aqua;
}

#border {
  border-style: solid;
  border-color: rgb(206, 150, 77);
  border-width: 70px;
  border-radius: 40%;
  min-height: 500px;
}