@import url('https://fonts.googleapis.com/css?family=Blinker|Catamaran:900&display=swap');

body, html {
  background-color: #bad6aa;
  color: white;
  font-family: 'Blinker', sans-serif;
}

#fields-container {
  display: wrap;
  margin-top: 250px;
}

#top-title {
  margin-top: 20px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;
  -webkit-text-fill-color: #bad6aa; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
#login {
  background-color: aqua;
}